*
!automations/
!groups/
!input/
!sensors/
!customize/
!customize_glob/
!shell_command/
!shell_script/
!shell_binary/
!scripts/
!themes/
!lovelace
lovelace/*
!*.yaml
!.gitignore
secrets.yaml
known_devices.yaml