*
!automations/
!packages/
!groups/
!input/
!lights/
!sensors/
!customize/
!customize_glob/
!commands/
!scripts/
!themes/
!lovelace/
!panel_iframe.yaml
!*.yaml
!.gitignore
secrets.yaml
known_devices.yaml
ui-lovelace.yaml